body {
    background-color: #222831;
    margin: 0;
    padding: 0;
    width: 100%;
}
#name {
    color: #fa7d09;
}

h1 {
    color: white;
    font-size: 42px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}
hr{
    width: 25%;
    color: white;
    margin-bottom: 2rem;
    background: white;
}
span {
    color: red;
}

p {
    color: white;
}


.heading {
    width: 90%;
    margin-top: 3rem;
}

.links {
    border-radius: 50%;
    margin: 2rem 1rem;
    color: white;
}

.links:hover {
    color: red;
}


.link-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.portfolio {
    display: flex;

}

.project-button {
    width: 15%;
}

.card-title, .card-text {
    color: white;
}


